 .navbar-default .navbar-brand,
.navbar-default .navbar-nav > li a,
.product-landing .product__title,
.product-landing .product__subtitle {
  color: #5b5b5b;
}

.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.product-landing .product-banner {
  min-height: 100vh;
  /* fallback */
  background: url('https://s3.amazonaws.com/thinkific/file_uploads/4305/attachments/1d2/a05/c00/Head-or-Tails.jpg');
  background-size: cover;
}

.product-info-block {
  position: relative;
  transform: translateY(50%);
}

.hero-video {
  width: 100%;
  height: 100%;
  position: absolute;
}

.product-landing section:first-child {
  padding-top: 0;
  padding-bottom: 0;
}

.product-landing .product-banner .title-block {
  padding-top: 90px;
}

.engage  {
  position: absolute;
  top: auto;
  bottom: 20px;
  margin-left: 50%;
  font-size: 2em;
  color: #5b5b5b;
}

.product-landing .section-title {
  margin-bottom: 24px;
}

.fancy-landing .course-curriculum .curriculum-chapter-header {
  padding: 0 !important;
}

.tab-content {
  background-color: #FFF;
  min-height: 500px;
}

.more-btn {
  margin-left: 15px;
}

.nav>li>a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.fancy-landing .course-curriculum .chapter-list-item:last-child {
  padding-bottom: 15px;
}

.carousel-indicators li {
  border-color: #5b5b5b;
}

.carousel-indicators li.active {
  background-color: #373737;
}

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0%, rgba(0,0,0,0.1) 80%);
}

.carousel-control.left {
  background-image: linear-gradient(to left, rgba(0,0,0,0.0001) 0%, rgba(0,0,0,0.1) 80%);
}


.carousel-inner {
  padding: 10px 50px;
  min-height: 350px;
}

@media only screen and (min-width: 970px) {
  .section-title {
    padding-left: 0;
  }
}

@media only screen and (max-width: 970px) {
  .navbar-default .navbar-brand,
  .product-landing .product__title,
  .product-landing .product__subtitle {
    color: #ffffff;
  }

  .navbar-default .navbar-collapse {
    background-color: #e7e7e7;
  }

  .hero-video {
    display: none;
  }

  .engage {
    display: none;
  }

  .product-landing .product-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://s3.amazonaws.com/thinkific/courses/showcase_000/008/1831448750942.original.jpg?1448750942') 70% 10% no-repeat;
    background-size: cover;
  }

  .tab-content {
    min-height: 0;
  }

  .tab-pane h3 {
    border-bottom: 1px solid #5b5b5b;
    padding-bottom: 10px;
  }

  /* warning: disables the bootstrap pill on mobile */
  .tab-content > .tab-pane {
    display: block;
  }

  .fade {
    opacity: 1;
  }
  /* end warning */
}
